In [2]:
import pandas as pd
import numpy as np

import ast

import seaborn as sns
from matplotlib import pyplot
%matplotlib inline

In [12]:
import csv
import json

In [3]:
genre = pd.read_csv('..\data\genre.csv')

In [4]:
genre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44983 entries, 0 to 44982
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   mid     44983 non-null  int64
 1   genres  44983 non-null  object
dtypes: int64(1), object(1)
memory usage: 703.0+ KB

In [5]:
genre.sample(3)

         mid                                             genres
6069    8996  [{'id': 36, 'name': 'History'}, {'id': 18, 'na...
23922   3171  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
23070  59726  [{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...

In [6]:
from ast import literal_eval

In [7]:
genre['genres'] = genre['genres'].apply(literal_eval)

[reference](https://www.kaggle.com/ibtesama/getting-started-with-a-movie-recommendation-system)

In [8]:
# Returns the list top 3 elements or entire list; whichever is more.
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
        if len(names) > 3:
            names = names[:3]
        return names

    #Return empty list in case of missing/malformed data
    return []

In [9]:
genre['genres'] = genre['genres'].apply(get_list)

In [10]:
genre

          mid                        genres
0         862   [Animation, Comedy, Family]
1        8844  [Adventure, Fantasy, Family]
2       15602             [Romance, Comedy]
3       31357      [Comedy, Drama, Romance]
4       11862                      [Comedy]
...       ...                           ...
44978  439050               [Drama, Family]
44979  111109                       [Drama]
44980   67758     [Action, Drama, Thriller]
44981  227506                            []
44982  461257                            []

[44983 rows x 2 columns]

In [11]:
genre.to_csv('../data/clean_data/genre.csv',index=False)

## json

In [12]:
def make_json(csvFilePath, jsonFilePath): 
      
    # create a dictionary 
    data = {} 
      
    # Open a csv reader called DictReader 
    with open(csvFilePath, encoding='utf-8') as csvf: 
        csvReader = csv.DictReader(csvf) 
          
        # Convert each row into a dictionary  
        # and add it to data 
        for rows in csvReader: 
              
            # Assuming a column named 'No' to 
            # be the primary key 
            key = rows['mid'] 
            data[key] = rows 
  
    # Open a json writer, and use the json.dumps()  
    # function to dump data 
    with open(jsonFilePath, 'w', encoding='utf-8') as jsonf: 
        jsonf.write(json.dumps(data, indent=4)) 
          
# Driver Code 
  
# Decide the two file paths according to your  
# computer system 
csvFilePath = r'..\data\genre.csv'
jsonFilePath = r'genre.json'
  
# Call the make_json function 
make_json(csvFilePath, jsonFilePath)

NameError: name 'csv' is not defined