In [2]:
import pandas as pd
import numpy as np

import ast

import seaborn as sns
from matplotlib import pyplot
%matplotlib inline

In [3]:
data = pd.read_csv('..\data\ratings.csv')

In [9]:
data.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

# check duplicate data

In [7]:
len(data[data.duplicated()])

0

no duplicate data

# check missing data

In [5]:
data.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

no missing data

# check data type

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26024289 entries, 0 to 26024288
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 794.2 MB

<span color='red'>everything looks good</span>