In [19]:
import pandas as pd
import numpy as np

import ast

import seaborn as sns
from matplotlib import pyplot
%matplotlib inline
from ast import literal_eval
import csv
import json

## parse function

[reference](https://www.kaggle.com/ibtesama/getting-started-with-a-movie-recommendation-system)

In [21]:
# Returns the list top 3 elements or entire list; whichever is more.
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
        if len(names) > 3:
            names = names[:3]
        return names

    #Return empty list in case of missing/malformed data
    return []

# credits

In [2]:
data = pd.read_csv('../data/credits.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45476 entries, 0 to 45475
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    45476 non-null  object
 1   crew    45476 non-null  object
 2   id      45476 non-null  int64
dtypes: int64(1), object(2)
memory usage: 1.0+ MB

In [4]:
data.sample(3)

,cast,crew,id
5357,"[{'cast_id': 1, 'character': 'Marjorie Oelrich...","[{'credit_id': '52fe4633c3a36847f80f251b', 'de...",43199
13483,"[{'cast_id': 5, 'character': 'Delmas', 'credit...","[{'credit_id': '52fe452ac3a368484e04c019', 'de...",27061
1504,"[{'cast_id': 2, 'character': 'Gabbeh', 'credit...","[{'credit_id': '590360ffc3a3683c11000567', 'de...",43771

# links

In [6]:
link = pd.read_csv('../data/links.csv')

In [7]:
link.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45843 entries, 0 to 45842
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  45843 non-null  int64
 1   imdbId   45843 non-null  int64
 2   tmdbId   45624 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 1.0 MB

In [8]:
link.sample(3)

       movieId   imdbId    tmdbId
16601    83603   422258   90272.0
31532   137268  2027091  263794.0
40577   163058   497639  174895.0

# keywords

In [9]:
keywords = pd.read_csv('../data/keywords.csv`')

In [10]:
keywords.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46419 entries, 0 to 46418
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        46419 non-null  int64
 1   keywords  46419 non-null  object
dtypes: int64(1), object(1)
memory usage: 725.4+ KB

In [23]:
keywords['keywords'] = keywords['keywords'].apply(literal_eval)
keywords['keywords'] = keywords['keywords'].apply(get_list)

In [24]:
keywords.sample(3)

          id                      keywords
11527  25648                [korean movie]
17210  80027                            []
9128   14533  [aids, biography, addiction]

In [113]:
keywords.to_csv('../data/clean_data/keywords.csv',index=False)

# production_company

In [25]:
company = pd.read_csv('../data/production_company.csv')

In [26]:
company.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44983 entries, 0 to 44982
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    44983 non-null  int64
 1   production_companies  44983 non-null  object
dtypes: int64(1), object(1)
memory usage: 703.0+ KB

In [27]:
company['production_companies'] = company['production_companies'].apply(literal_eval)
company['production_companies'] = company['production_companies'].apply(get_list)

In [28]:
company.sample(3)

          id                               production_companies
4515   12478             [Beco Films, Morgan Creek Productions]
18276   8368  [Devonshire Productions, Berwick Street Produc...
11842  77621                     [Micheaux Book & Film Company]

In [31]:
company.rename(columns = {'production_companies':'company'},inplace=True)

In [112]:
company.to_csv('../data/clean_data/production_companies.csv',index=False)

# production_country

In [106]:
country = pd.read_csv('../data/production_country.csv')

In [107]:
country.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44983 entries, 0 to 44982
Data columns (total 2 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    44983 non-null  int64
 1   production_countries  44983 non-null  object
dtypes: int64(1), object(1)
memory usage: 703.0+ KB

In [108]:
country.rename(columns = {'production_countries':'country'},inplace=True)

In [109]:
country['country'] = country['country'].apply(literal_eval)
country['country'] = country['country'].apply(get_list)

In [111]:
country.to_csv('../data/clean_data/country.csv',index=False)